<header class="header">
  <div class="logo">Tanzim Sultana Shaik Mohammed</div>

  <!-- Mobile Menu Button -->
  <button class="menu-btn" (click)="isMenuOpen = !isMenuOpen">
    ☰
  </button>

  <nav class="nav" [class.open]="isMenuOpen">
    <a routerLink="">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/skills">Skills & Experiences</a>
    <a routerLink="/creative">Creative</a>
    <a routerLink="/contact">Contact</a>
  </nav>
</header>
