<section class="hero">
  <h1>
    Associate Software Engineer
    <span>&#64; Mphasis</span>
  </h1>

  <p>
    I build scalable, end-to-end web applications using
    Angular and ASP.NET Core — from architecture to deployment.
  </p>

  <div class="cta">
    <!-- View Projects -->
    <a
      href="https://github.com/SMDTANZIMS173"
      target="_blank"
      rel="noopener noreferrer"
      class="primary btn-link"
    >
      View Projects
    </a>

    <!-- Download Resume -->
    <a
      href="/assets/Tanzim_Resume.pdf"
      target="_blank"
      class="secondary btn-link"
    >
      Download Resume
    </a>
  </div>
</section>
